$Orange: hsl(26, 100%, 55%);
$PaleOrange: hsl(25, 100%, 94%);
$VeryDarkBlue: hsl(220, 13%, 13%);
$DarkGrayishBlue: hsl(219, 9%, 45%);
$GrayishBlue: hsl(220, 14%, 75%);
$LightGrayishBlue: hsl(223, 64%, 98%);
$White: white;
$Black: black;

@mixin flex-container($flexDirection: row, $justify: center, $align: center) {
        display: flex;
        justify-content: $justify;
        align-items: $align;
        flex-direction: $flexDirection;
}

@mixin btnMove {
        z-index: 20;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        background-color: #f0f1f2;
}

@mixin heading-font() {
        font-weight: 700;
        font-size: 4.2rem;
        color: $VeryDarkBlue;
}